{% extends 'base.html' %}
{% block title %} Single post page {% endblock %}

{% block content %}
<div>
    <h1 style="margin-bottom:10px">Title: {{post.title}}</h1>
    <h3 style="margin-bottom:10px">Body: {{post.content}}</h3>
</div>

<table style="margin-bottom:10px">
    <tr>
        {% if tags %}
        <td>
            <h3>Tags :</h3>
        </td>
        {% for tag in tags %}
        <td> <a class="btn2" href="{{url_for('match_all_tags',tag_id=tag.id)}}"> {{tag.name}}</a></td>
        {% endfor %}
        {% else %}
        <td>No tags added yet...</td>
        {% endif %}
    </tr>
</table>
<hr style="margin-bottom:10px">
<a class="btn" href="{{url_for('show_user',id=post.user_id) }}">Go Back</a>
<a class="btn" href="{{url_for('edit_post',id=post.id) }}">Edit Post</a>
<a class="btn" href="{{url_for('delete_post',id=post.id) }}">Delete Post</a>


{% endblock %}