<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<title>{% block title%} {% endblock title %}</title>
</head>

<body>
	<section id="game-board" class="game">
		{% block content %} {% endblock content %}
	</section>
	<section>
		<form id="submit-form">
			<label for="answer"></label>
			<input id="answer" type="text" name="answer" placeholder="Take a guess..." />
			<button>Submit</button>
		</form>
	</section>
	<script src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.js"></script>
	<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>