*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.btn{
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(185, 185, 250);
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    background-color: rgb(87, 87, 248);
    box-shadow: 5px 5px 7px  rgb(161, 161, 161);
    color: cornsilk;
    font-size: large;
    font-family: fantasy;
}

.profile-img{
    border-radius: 29px;
    margin: auto;
}
.user-container{
    margin-left: 25px;
    margin-top: 25px;
}
