<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Money converter</title>
</head>

<body style="padding: 0%;box-sizing: border-box;margin: 0; ">
    <div style="display: flex; align-items: center; justify-content:center">
        <div style="align-items: center;width: 30%;background-color: #161f36;" class="item1">
            <h3 style="text-align: center;color: white; letter-spacing: .1em;">Current US Doller Conversion :</h3>
        </div>
        <div style="width: 70%;" class="item2">
            <marquee direction="left" scrollamount="10" behavior="scroll">
                {% for rate in rates %}
                <span><b>{{rate}}</b>&nbsp;{{rates[rate]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {% endfor %}
            </marquee>
        </div>
    </div>
    <div style="background-color: #415881; display: flex; align-items: center; justify-content:center">
        <div style="width: 22%;">
            <h3 style="color: white; letter-spacing: .15em;">Todays Price of {{bit['symbol']}}itcoin :</h3>
        </div>
        <div style="width: 70%;display: flex; align-items: center; justify-content:space-evenly; color: white;">
            <div>
                <p>{{bit['name_usd']}} ${{bit['bitcoin_usd']}}</p>
            </div>
            <div>
                <p> {{bit['name_eur']}} {{bit['symbol_eur']}}{{bit['bitcoin_eur']}}</p>
            </div>
            <div>
                <p>{{bit['name_gbp']}} {{bit['symbol_gbp']}}{{bit['bitcoin_gbp']}}</p>
            </div>
        </div>
    </div>
    <div
        style="margin-top: 20px; display: flex; align-items: center; justify-content:space-around; flex-direction: row;">
        <div style="display: flex; align-items: center; justify-content:center; flex-direction: column;">
            <div class="item-rates-form">
                <form id="get-rate" action="/current-rate" method="POST">
                    <label for="rate">Conversion rate for Currency:</label>
                    <select default="USD" id="rate" name="rate" required>
                        {% if selected %}
                        <option value="">{{selected}}</option>
                        {% else %}
                        <option value="">---</option>
                        {% endif %}
                        {% for rate in rates %}
                        <option value="{{rate}}">{{rate}}</option>
                        {% endfor %}
                    </select>
                    <button>Submit</button>
                </form>
            </div>
            <div class="item-rates-res">
                {% block rates %}{% endblock %}
            </div>
        </div>

        <div style="display: flex; align-items: center; justify-content:center; flex-direction: column;">
            <div class="item-convert-form">
                <form style="display: flex;flex-direction: column;" id="convert" action="/convert" method="POST">
                    <div>
                        <label for="rate-from">Converting from:</label>
                        <select id="rate-from" name="rate-from" required>
                            <option value="">---</option>
                            {% for rate in rates %}
                            <option value="{{rate}}">{{rate}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="rate-too">Converting too:</label>
                        <select id="rate-too" name="rate-too" r>
                            <option value="">---</option>
                            {% for rate in rates %}
                            <option value="{{rate}}">{{rate}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="amount">Amount</label>
                        <input type="number" name="amount" id="amount" placeholder="Optional Amount...">
                    </div>
                    <button>Submit</button>
                </form>
            </div>
            <div class="item-convert-res">
                {% block convert %}{% endblock %}
            </div>
        </div>
    </div>
</body>

</html>